body {
    background-color: blue ;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(75%);
  }

  .fade-in-out-background {
    animation: fade-in-background 1.5s, fade-out-background 2.5s 1s ease-out forwards;
  }

  @keyframes fade-in-background {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out-background {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
        opacity: 0;
      }
  }

